<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TextUtils</title>
</head>

<body>
    <h1>Welcome to the text analyazer. Enter your text below</h1>

    <form action="/removePunc/" method="get">
        <textarea name="Info" id="inputInfo" style="width: 1896px; height: 156px; font-size: 30px;"></textarea>

        <input type="checkbox" name="remove">Remove Punctuations <br>
        <button type="submit">Analyze Text</button>
    </form>
</body>

</html>