{% extends 'shop/basic.html' %}
{% block title %}
  Index Part
{% endblock %}

{% block css %}
  .col-md-3 { display: inline-block; margin-left: -4px; }

  .col-md-3 img { width: 100%; height: auto; }

  .carousel-indicators .active { background-color: blue; }

  .carousel-indicators { bottom: 0; }

  .carousel-control-prev-icon, .carousel-control-next-icon { background-color: blue; }

  .no-padding { padding-left: 0; padding-right: 0; }
{% endblock %}

{% block body %}
  {% load static %}
  <!-- CAROUSEL -->
  <div class="container">
    <div id="demo" class="carousel slide my-3" data-ride="carousel">
      <ul class="carousel-indicators">
        <li data-target="#demo" data-slide-to="0" class="active"></li>
        {% for i in range %}
        <li data-target="#demo" data-slide-to="{{ i }}"></li>
        {% endfor %}
      </ul>

      <div class="carousel-inner no-padding">
        <!-- FIRST SLIDE -->
        <div class="carousel-item active">
          <div class="col-md-3">
            <div class="card">
              <img src="{% static 'shop/test.jpg' %}" class="card-img-top" />
              <div class="card-body">
                <h5 class="card-title">Samsung Galaxy S23</h5>
                <p class="card-text">Powerful flagship smartphone with Snapdragon processor.</p>
                <a href="#" class="btn btn-primary">View</a>
              </div>
            </div>
        </div>

          {% for i in product|slice:"1:" %}
          <div class="col-md-3">
            <div class="card">
              <img src="{% static 'shop/test.jpg' %}" class="card-img-top" />
              <div class="card-body">
                <h5 class="card-title">HP Pavilion Laptop</h5>
                <p class="card-text">Intel i5 laptop with 16GB RAM and SSD storage for productivity.</p>
                <a href="#" class="btn btn-primary">View</a>
              </div>
            </div>
          </div>

          {% if forloop.counter|divisibleby:3 and forloop.counter > 0 and not forloop.last %}
        </div><div class="carousel-item">
            {% endif%}

            {% endfor %}
      </div>
  </div>

  <!-- CONTROLS -->
  <a class="carousel-control-prev" href="#demo" data-slide="prev"><span class="carousel-control-prev-icon"></span></a>

  <a class="carousel-control-next" href="#demo" data-slide="next"><span class="carousel-control-next-icon"></span></a>
{% endblock %}
